html {
    font-size: 14px;
    font-family: sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    line-height: 1.4;
}



/* Text */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    letter-spacing: 0.035rem;
}

h1 {
    font-size: 2.1rem;
}
h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.3rem;
}
h5 {
    font-size: 1.14rem;
}
h6 {
    font-size: 1.05rem;
}

p {
    margin: 0 0 1em;
    letter-spacing: 0.023em;
}

a, a:active, a:visited {
    color: #00e;
}

button, input[type="reset"], input[type="submit"] {
    letter-spacing: 0.03em;
    padding: 0.07em 1.1em 0.09em;
    font-size: 1em;
    cursor: pointer;
    /* font-weight: bold; */
}

input[type="radio"] {
    margin: 0;
    vertical-align: middle;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

input[type="checkbox"] {
    margin: 1px 0 0 1px; /* chrome has some weird asymmetry */
    vertical-align: middle;
    width: 1.12em;
    height: 1.12em;
    cursor: pointer;
}

input[type="text"], input[type="number"] {
    padding: 0.3em 0.22em 0.2em;
    font-size: 1em;
}

select {
    padding: 0.3em 0 0.22em;
    font-size: 1em;
    cursor: pointer;
}

textarea {
    font-size: 1em;
    padding: 0.2em 0.4em;
    line-height: 1.4;
    vertical-align: text-top;
    min-height: 5.2em;
    min-width: 20em;
    cursor: pointer;
}

ul, ol, dl {
    margin: 0 1em 1em;
    padding: 0 1em;
}

dd {
    margin: 0 2em;
}

nav ul, nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/*──── Classes ─────────────────────────────────────────────────────────────*/

.f-row {
    display: flex;
    flex-direction: row;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}