html {
    font-size: 14px;
    font-family: sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.023em;
}

/* ────────/
│   Text   │
/──────── */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    letter-spacing: 0.035rem;
}

h1 {
    font-size: 2.1rem;
}
h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.3rem;
}
h5 {
    font-size: 1.14rem;
}
h6 {
    font-size: 1.05rem;
}

p {
    margin: 0 0 1em;
    word-spacing: -0.01em;
}

mark {
    padding: 0 0.05em 0.1em
}

blockquote {
    font-size: 1.2em;
    font-style: italic;
    margin: 1em;
}

blockquote::before {
    content: '\201C';
}

blockquote::after {
    content: '\201D';
}

code {
    background-color: #e0e0e0;
    padding: 0 3px;
    font-family: courier, monospace;
    border-radius: 2px;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px #00000033, 0 2px 0 0 #ffffffb3 inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: bold;
    line-height: 1;
    padding: 0.32em 0.4em 0.15em;
    white-space: nowrap;
    vertical-align: bottom;
}

figure {
    display: flex;
    flex-direction: column;
    margin: 0;
}

summary {
    cursor: pointer;
    margin-bottom: 0.2em;
}


/* ─────────/
│   Table   │
/───────── */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ─────────/
│   Lists   │
/───────── */
ul, ol, dl {
    margin: 0 0 1em;
    padding: 0 1em;
}

dd {
    margin: 0 1em;
}

ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0; /* remove margin when nested */ 
}

nav ul, nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* ───────────────────────────────/
│   Interactables & Form Fields   │
/─────────────────────────────── */
a, a:active, a:visited {
    color: #00e;
}

fieldset {
    margin: 1em;
    padding: 0.6em 0.75em 0.5em;
}

fieldset, input, select, textarea {
    border: 1px solid #a9a9a9;
    border-radius: 2px;
}

input:hover, select:hover, textarea:hover {
    border: 1px solid #777777;
}

button, input[type="reset"], input[type="submit"] {
    letter-spacing: 0.03em;
    padding: 0.07em 1.1em 0.09em;
    font-size: 1em;
    cursor: pointer;
    /* font-weight: bold; */
}

input[type="radio"] {
    margin: 0;
    vertical-align: text-top;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

input[type="checkbox"] {
    margin: 1px 0 0 1px; /* chrome has some weird asymmetry */
    vertical-align: text-top;
    width: 1.12em;
    height: 1.12em;
    cursor: pointer;
}

input[type="text"], input[type="number"] {
    padding: 0.3em 0.22em 0.2em;
    font-size: 1em;
}

select {
    padding: 0.3em 0 0.22em;
    font-size: 1em;
    cursor: pointer;
}

textarea {
    font-size: 1em;
    padding: 0.2em 0.4em;
    line-height: 1.4;
    vertical-align: text-top;
    min-height: 5.2em;
    min-width: 20em;
    cursor: pointer;
}



/*──── Classes ─────────────────────────────────────────────────────────────*/

.f-row {
    display: flex;
    flex-direction: row;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.f-cell {
    flex: 1 1;
}
