#topic-navigation {
    background-color: #3a3434;
    height: 50px;
    display: flex;
    align-items: center;
}

#form-inner-wrapper {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.nav-btn {
    color: #dadada;
    font-size: 1.3rem;
    width: 100px;
    border: 0 none;
    border-right: 1px solid gray;
}

.nav-btn.selected {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.invisible {
    display: none;
}
