*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

/* 
Accessibility Issue (Safari):

Removing the bullets causes some accessibility issues with Safari browser.
The list looses its "list" semantics.
This could be fixed by adding `role="list"` attribute in the HTML.
To address this issue, change the selector to:

  ul[role=list]

and start using role="list" in lists (currently only needed with unordered lists).

Read more:
- https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#accessibility_concerns
- https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html

*/
ul {
    padding: 0;
    list-style-type: none;
}

/* MAYBE */
body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* MAYBE */
html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}



/* ───────────────────────────────/
│   Interactables & Form Fields   │
/─────────────────────────────── */


/* needs more research */
input, select, textarea, button /* , summary */ {
    border: 0 none;
    font: inherit;
    /* Thinkabout:
    cursor: pointer;

    Relevant for input[txt&num] & textarea (not button & select)
    If setting the cursor: pointer - add:

        input[type=text]:focus,
        input[type=number]:focus,
        textarea:focus {
            cursor: text; 
        }
    */
}


/* needs more research */
input[type=radio] {
    margin: 0;
    vertical-align: text-top;
    width: 1.1em;
    height: 1.1em;
}

/* needs more research */
input[type=checkbox] {
    margin: 1px 0 0 1px;
    vertical-align: text-top;
    width: 1.12em;
    height: 1.12em;
}

/* MAYBE */
textarea {
    padding: 0.4em 0.5em; /* Opinion */
    vertical-align: text-top;
}
