*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, figure, fieldset {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

button, select, summary,
input[type=submit], input[type=reset],
label[for], label:has(input, textarea, select) {
    cursor: pointer;
}

textarea {
    font: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
