*, *::before, *::after {
    box-sizing: border-box;
}

/* MAYBE */
html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    line-height: 1.4;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, figure, fieldset, blockquote {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}



/* ───────────────────────────────/
│   Interactables & Form Fields   │
/─────────────────────────────── */

button, select, summary,
input[type=submit], input[type=reset],
label[for], label:has(input, textarea, select) {
    cursor: pointer;
}

button, input, select, textarea {
    border: 1px solid gray;
    color: inherit;
    background-color: inherit;
}

textarea {
    font: inherit;
    padding: 0.45em;
}

fieldset {
    border: 2px dotted gray;
}


/* needs more research */
input[type=radio] {
    margin: 0;
    vertical-align: text-top;
    width: 1.1em;
    height: 1.1em;
}

/* needs more research */
input[type=checkbox] {
    margin: 1px 0 0 1px;
    vertical-align: text-top;
    width: 1.12em;
    height: 1.12em;
}
