.f-row {
    display: flex;
    flex-direction: row;
}
.f-col {
    display: flex;
    flex-direction: column;
}

.f-cell {
    flex: 1 1;
}

.f-max-space {
	justify-content: space-between;
}

.f-row.f-center-x {
    justify-content: center;
}
.f-col.f-center-x {
    align-items: center;
}

.f-row.f-center-y {
    align-items: center;
}
.f-col.f-center-y {
    justify-content: center;
}