/* body, */ h1, h2, h3, h4, h5, h6,
figure, pre {
    margin: 0;
}


/* ──────────────────/
│   Lists & tables   │
/────────────────── */
ul, ol, dl {
    margin: 0.5em 0 0.5em;
    padding: 0 1em;
}

dd {
    margin: 0 1em;
}

nav ul, nav ol {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ────────/
│   Text   │
/──────── */
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.015rem;
}

h1 { font-size: 2.1rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.14rem; }
h6 { font-size: 1.05rem; }

p {
    margin: 0 0 1em;
    word-spacing: -0.01em;
}

mark {
    padding: 0 0.05em 0.1em
}

blockquote {
    font-size: 1.2em;
    font-style: italic;
    margin: 1em;
}

blockquote::before {
    content: '\201C';
}

blockquote::after {
    content: '\201D';
}

code {
    background-color: #e0e0e0;
    padding: 0 3px;
    font-family: courier, monospace;
    border-radius: 2px;
}

pre {
    tab-size: 4;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px #00000033, 0 2px 0 0 #ffffffb3 inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: bold;
    line-height: 1;
    padding: 0.32em 0.4em 0.15em;
    white-space: nowrap;
    vertical-align: bottom;
}

figure {
    display: flex;
    flex-direction: column;
}

summary {
    margin-bottom: 0.2em;
}

/* ───────────────────────────────/
│   Interactables & Form Fields   │
/─────────────────────────────── */
a, a:active, a:visited {
    color: #00e;
}

fieldset {
    margin: 1em;
    padding: 0.6em 0.75em 0.5em;
    border: 1px solid gray;
}
